

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* navbar */
.navbar{
  position: sticky;
  top: 0;
}

.nav-text{
  font-size: 1rem;
}

.nav-link{
  margin-left: 1.1rem
}

.navbar-toggler, .navbar-toggler:active {
  font-size: 0.8rem;
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon{
  font-weight: bolder;
}


/* hero section */

.hero-section{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/EPFL-vue-aerienne-Jamani-Caillet-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 4px #000000;
  /* background-repeat: repeat-y;
  background-position: 50% 0;    
  transition: 0s linear;
  transition-property: background-position; */
}

/* .hero-section .h1{
    box-shadow: 10px 5px 5px black;
} */

.register-btn{
  border-radius: 50px;
}

.register-btn a{
  color: white;
  text-decoration: none;
}

/* mains */
.main {
    margin: 3rem 10rem;
}

@media only screen and (max-width: 800px) {
    .main{
         margin: 3rem;
 
    }
}    

/* home main */
section, .poster{
  margin-top: 4rem;
}

.home-section{
  margin-top: 3rem;
}

.poster img{
  width: 100%;
  height: auto;
}

.logo{
    width: 300px;
    height: auto;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
}

/* registration page*/
.fa-triangle-exclamation{
  font-size: 6rem;
  color: rgb(207, 0, 0);
}

/* general texts styles */
.ff-msr{
  font-family: "Montserrat", sans-serif;
}

.section-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(17, 17, 202);
}

.color-blue{
    color: rgb(0, 115, 255)
}


