/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar{
  position: sticky;
  top: 0;
}

.nav-text{
  font-size: 0.8rem;
}

.nav-link{
  margin-left: 1.1rem
}

.navbar-toggler, .navbar-toggler:active {
  font-size: 0.8rem;
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon{
  font-weight: bolder;
}


/* hero section */

.hero-section{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/home-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register-btn{
  border-radius: 50px;
}

.register-btn a{
  color: white;
  text-decoration: none;
}

/* home main */
section, .poster{
  margin-top: 4rem;
}

.poster img{
  width: 100%;
  height: auto;
}

/* registration page*/
.fa-triangle-exclamation{
  font-size: 6rem;
  color: rgb(207, 0, 0);
}

/* fonts */
.ff-msr{
  font-family: "Montserrat", sans-serif;
}


